.settings-site-logo-input {
    .settings-input {
        width: 60%;
        height: 44px;
        border: 2px solid #b0b0b8;
        box-sizing: border-box;
        box-shadow: -4px 3px 11px 0px #d3d3d7;
    }
    .settings-number {
        height: 34px;
    }
}
.settings-site-input-number {
    .settings-input-number {
        width: 60px;
        height: 30px;
    }
    .settings-input-number-speed {
        width: 200px;
    }
    .description {
        color: #8f8f8f;
        margin-top: 4px;
    }
}
.settings-site-slider-input {
    margin-top: 10px;
    .settings-input {
        width: 80%;
        height: 44px;
        border: 2px solid #b0b0b8;
        box-sizing: border-box;
        box-shadow: -4px 3px 11px 0px #d3d3d7;
    }
}
.settings-site-logo {
    margin-top: 20px;
    img {
        width: 100px;
        height: auto;
    }
}
.settings-slider-image {
    img {
        margin-top: 10px;
        width: auto;
        height: 100px;
    }
}
.settings-site-header-input {
    .header-color {
        background-color: #0059ff;
        width: 100px;
        height: 100px;
        margin-top: 10px;
    }
}
.settings-social-information {
    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        height: 50px;
        border: 1px solid #d1d1d1;
    }
    .settings-social-information-to-click {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 0.5rem 1rem;
        box-shadow: 0px 0px 2px 0px #5a5a5a33;
        cursor: pointer;
        i {
            font-size: 2rem;
        }
    }
    .settings-social-information-to-open {
        padding: 0 10px;
        &.hide-div {
            display: none;
        }
    }
}
